extends base

block content 
    if error 
        span=error
    form(method="POST")
        input(name='username', type='username', required, placeholder='Username')
        input(name='password', type='password', required, placeholder='Password')
        input(value='Log In', type='submit')
        br
        a(href='/users/auth/github') Continue with Github &rarr;
    hr
    div 
        p Don't you have an account?
        a(href='/join') Join &rarr;
        