extends ../base

block content 
    if error 
        span=error
    form(method="POST")
        input(name='username', type='username', required, placeholder='Username')
        input(name='password', type='password', required, placeholder='Password')
        input(value='Login', type='submit')
        include ../partials/social-login
    div.auth-switch
        span Don't you have an account?
        a(href='/join') Create one now &rarr;
        